
input {
	background-color: #FFFFFF;
}

.borderless {
    border: none;
    border-color: transparent;
}

.company-name {
    font-size: 20pt;
}

.right-column {
    text-align: right;
}

.client-cell {
    font-size: 13pt;
    font-weight: bold;
}