<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  layout:decorator="layout">
    <head>
        <title>Página no encontrada!</title>
    </head>
    <body>
    <th:block layout:fragment="titulo">
        Título <small>subtítulo</small>
    </th:block>
    <th:block layout:fragment="breadcrumb">
        <li>
            <a href="/">Inicio</a>
        </li>
    </th:block>
    <div class="row" layout:fragment="content">
        <div class="col-md-12 page-404">
            <div class=" number">
                 404
            </div>
            <div class=" details">
                <h3>Página no encontrada.</h3>
                <p>
                    ¡Lo siento!<br/>
                    La página que buscas no se encuentra aquí.<br/><br/>
                </p>
            </div>

        </div>
    </div>
    <th:block layout:fragment="scripts">
        <!-- Page level styles -->
        <link href="/css/errors.css" rel="stylesheet" type="text/css"/>
        <!-- End of page level styles -->
    </th:block>
    </body>
</html>