<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Cotizadora</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="row" style="text-align: center;">
            <h1 style="font-size: 50pt;">
                <!--Concéntrese en su negocio-->30 segundos de la idea a la impresora
            </h1>
            <h3>
                Cotizaciones formales para su negocio
            </h3>
            <p>
                <a href="/quotes/new" class="btn btn-lg green-turquoise">
                    <span class="fa fa-bullhorn"></span>
                    Comienza ahora
                </a>
            </p>
        </div>
        &nbsp;
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="row" style="vertical-align: middle; display: table-cell;">
                <!--<div class="col-md-12">-->

                <!--
                <div class="col-md-6" style="align-content: center; align-items: center; text-align: center;">
                    <img src="/img/cotizadora.png" style="width: 100%;"/>
                </div>-->
            </div>
            <div clas="row" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="col-md-4">
                    <p class="text-center block-center">
                      <i class="fa fa-codepen text-center" style="font-size: 130px; line-height: 160px; text-align: center;"></i>
                      <h2 style="text-align: center;">Simplicidad</h2>
                      <h4 style="text-align: center;">Crea, genera y almacena tus cotizaciones en un solo paso.</h4>
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-center block-center">
                        <i class="fa fa-bolt text-center" style="font-size: 130px; line-height: 160px; text-align: center;"></i>
                        <h2 style="text-align: center;">Rapidez</h2>
                        <h4 style="text-align: center;">Diseña e imprime tus cotizaciones al instante <b>sin</b> necesidad de <b>registro</b>.</h4>
                     </p>
                </div>
                <div class="col-md-4">
                  <p class="text-center block-center">
                      <i class="fa fa-anchor text-center" style="font-size: 130px; line-height: 160px; text-align: center;"></i>
                      <h2 style="text-align: center;">Estilo</h2>
                      <h4 style="text-align: center;">Selecciona un estilo de cotización que se ajuste a la <b>imágen</b> de tu negocio.</h4>
                  </p>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <img src="/img/cotizadora.png" style="max-width:100%; width: 100%;"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
